<!DOCTYPE html>
<html>
<head>
  <title>Form Edit dengan Bootstrap</title>
  <!-- Tambahkan link CSS Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-light">
    <span class="fs-4" style="margin-left: 50px;">Sekolah Tinggi JeWePe</span>
    
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home-admin" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/artikel-kelola" class="nav-link px-2 link-dark">Kelola Artikel</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>
    
      <div class="col-md-3 text-end">
        <a href="/home"><button type="button" class="btn btn-primary text-light me-3">Logout</button></a>
      </div>
</header>

<main>
  <!-- FORM EDIT -->
  <div class="container">
    <h1 class="text-center">Form Edit</h1>
    <form action="/artikel-edit" method="post">
      <% for (let artikelEdit of artikelEdits) { %>
      <div class="form-group">
        <label for="nama">Nomer ID</label>
        <input type="text" class="form-control" id="nama" name="id" value="<%= artikelEdit.ID_artikel %>" disabled>
      </div>
      <div class="form-group">
        <label for="usia">Judul</label>
        <input type="text" class="form-control" id="usia" name="judul" placeholder="Masukkan Judul Artikel Di Sini" value="<%= artikelEdit.judul %>">
      </div>
      <div class="form-group">
        <label for="kota">Artikel</label>
        <textarea class="form-control" rows="12" name="artikel" placeholder="Masukkan Isi Artikel Di Sini" value="<%= artikelEdit.judul %>" required> <%= artikelEdit.artikel %> </textarea>
      </div>

      <div class="d-flex justify-content-end mb-2">
        <button type="submit" class="btn btn-primary" name="idEdit" value="<%= artikelEdit.ID_artikel %>">Simpan</button>
      </div>
      <% } %>
    </form>
  </div>

  <!-- komentar -->
  <form action="/delete-komentar" method="post">
    <h2 class="text-center mb-3">komentar</h2>
    <div class="row">
      <% for (let komentar of komentars) { %>
          <div class="card ml-5 mb-4" style="width: 20rem; height: 16rem;">
            <h6 class="card-title ml-2"><b>ini Nama  : <%= komentar.nama %></b></h6>
            <h6 class="card-title ml-2" > <b>ini Email  : <%= komentar.email %></b></h6>
            <p class="card-text border-top mx-2"><%= komentar.komentar %></p>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-danger btn-sm mr-4" name="id" value="<%= komentar.id %>">Hapus</button>
              </div>
          </div>
        <% } %>
    </div>
  </form>
</main>

  <!-- Tambahkan skrip JavaScript Bootstrap (opsional) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
